# Python & Django .gitignore
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
env/
venv/
ENV/

# Django build files
*.log
local_settings.py
staticfiles/

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
